
/*导航开始*/
.nav-items{
	height: 77px;
	background-color: #fff;
}

.nav-items ul{
	width: inherit;
	height: inherit;
	height: 77px;
	padding-left: 0px;
}

.nav-items ul li{
	height:77px;
	line-height: 77px;
	float: left;
	list-style: none;
	margin-right: 20px;
}

.nav-items li a {
	font: 700 18px "Microsoft YaHei";
	color:#000;
	list-style: none;
}

.nav-items li .cookbook{
	border-bottom: 1px solid red;
}
/*导航结束*/

/*面包屑导航开始*/
.bread-nav{
	height: 70px;
}

.bread-nav li{
	display: block;
	font: 20px/70px "Microsoft YaHei";
	height: 70px;
	color: #000;
	float: left;
}

.bread-nav li a{
	color: #666;
}
/*面包屑导航结束*/

/*食品制作工艺介绍开始*/
.food-make-intro{
	height: 447px;
}

.food-make-intro .intro-left{
	width: 328px;
	height: inherit;
	float: left;
	position: relative;
}

.intro-left .intro-border{
	position: absolute;
	left: 10px;
	top: 10px;
}

.food-make-intro .intro-right{
	width: 672px;
	height: inherit;
	background-color: #fff;
	float: left;
}

.intro-right .table{
	margin: 10px auto;
	width: 652px;
	height: 418px;
	border:1px solid #FF9900;
	border-collapse: collapse;
}

.intro-right .table td{
	border: 1px solid #FF9900;
}

.table .table-one{
	height: 150px;
}

.table .table-two, .table-three,.table-four{
	height: 89px;
}

.table .one-left{
	height: 50px;
	width: 30%;
	margin-left: 30px;
	float: left;
}

.one-left .food-name{
	font: 700 30px/50px "Microsoft YaHei";
	color: #000;
	height: 50px;
	float: left;
}

.table .one-right{
	width: 234px;
	height: 50px;
	float: left;
	float: right;
	background-color: #fae8c8;
	margin-right: 20px;
}

.one-right input{
	width: 108px;
	height: inherit;
	font: 15px/50px "Microsoft YaHei";
	color: #fff;
	background-color: #f00;
}

.one-right li{
	float: left;
}

.one-right li a{
	width: 16px;
	height: 50px;
	display: block;
	float: left;
	margin-left:5px;
	background:no-repeat 0px 17px;
}

.one-right .share-txt{
	width: 40px;
	height: 50px;
	font: 10px/50px "Microsoft YaHei";
	text-align: center;
	margin-left: 10px;
}

.one-right li .qq{
	background-image:url(../images/share-qq.png);
}

.one-right li .qq-zone{
	background-image:url(../images/share-qzone.png);
}

.one-right li .sina{
	background-image: url(../images/share-sina.png);
}

.table-two .one{
	width: 102px;
	height: inherit;
}
.table-two .one p{
	width: inherit;
	height: 30px;
	text-align: center;
	line-height:30px;
}

.table-two .one .steam{
	font: 700 20px/30px "Microsoft YaHei";
	color: red;
	text-align: center;
	line-height: 30px;
}

.table-two .two{
	width: 270px;
	padding-left: 20px;
}

.table-two .two p{
	line-height: 30px;
}

.table-two .two .level-img{
	width: 30px;
	height: 30px;
}

.table-two .two ul li{
	width: 5px;
	height: 30px;
	background-color: #ccc;
	float: left;
	margin-left: 2px;
}

.table-two .two ul .level-red{
	background-color: #f00;
}

.table-two .two ul .level-txt{
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
}

.table-two .three {
	width: 270px;
	padding-left: 20px;
}
.table-two .three p{
	line-height: 30px;
}
.table-two .three .count-img{
	width: 30px;
	height: 30px;
}
.table-two .three ul li{
	width: 5px;
	height: 30px;
	background-color: #ccc;
	float: left;
	margin-left: 2px;
}

.table-two .three ul .count-red{
	background-color: #f00;
}

.table-two .three ul .count-txt{
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
}
/*食品制作工艺介绍结束*/

/*食品简短介绍开始*/
.food-simple-intro {
	background-color: #fff;
	overflow: hidden;
	margin-top: 20px;
}

.intro-title{
	width: 205px;
	height: 51px;
	margin: 20px auto;
	background:url(../images/material.png) no-repeat;
	position: relative;
}


.intro-title h3{
	font: 25px/51px "Microsoft YaHei";
	line-height: 51px;
	color: #f49d3f;
	text-align: center;
}

.intro-title h3 span{
	font: 30px/51px "Microsoft YaHei";
	line-height: 51px;
	color: #000;
}

.intro-title p{
	height: 16px;
	width: 60px;
	font: 10px/16px "Microsoft YaHei";
	text-align: center;
	color: #000;
	position: absolute;
	left: 0;
	bottom: 0;
}

.food-simple-intro .intro-txt{
	margin:0 auto;
	font: 15px/16px "Microsoft YaHei";
	color: #000;
	line-height: 16px;
	text-align: center;
}

/*食品简短介绍结束*/

/*食品制作材料介绍开始*/
.food-material-intro{
	background-color: #fff;
	overflow: hidden;
	padding-top: 20px;
}

.material-table {
	width: 960px;
	margin: 0px auto;
}

.material-table tr{
	width: 50%;
	height: 32px;
	text-align: center;
}

.material-table-color1{
	background-color: #f5f5f5;

}

.material-table-color2{
	background-color: #eaeaea;
}

.material-table td{
	width: 50%;
}

/*食品制作材料介绍结束*/

/*食品制作步骤介绍开始*/
.food-make-step{
	background-color: #fff;
	overflow: hidden;
}

.make-table{
	width: 960px;
	margin: 0px auto;
}

.make-table tr{
	margin-bottom: 10px;
}

.make-table tr td{
	width: 480px;
	height: 410px;
	border-bottom: 15px solid #fff;
}

.make-table-num{
	position: relative;
	background:url(../images/step-bg.png) no-repeat 30px 30px;
}

.make-table-num h2{
	position: absolute;
	font: italic 60px  "Arial";
	color: #f6b16c;
	left: 20px;
	top: 0px;
}

.make-table-num p{
	width: 300px;
	font: 20px "Microsoft YaHei";
	color: #333;
	position: absolute;
	left: 100px;
	top: 150px;
}
/*食品制作步骤介绍结束*/

/*用户评论部分开始*/
.user-comment{
	background-color: #fff;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-comment img{
	width: 50px;
	height: 50px;
	float: left;
}

.comment-body{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.comment-body .span2{
	background-color: #f00;
	font: 12px "Microsoft YaHei";
	color: white;
}

.comment-body .span3{
	background-color: #333;
	font: 12px "Microsoft YaHei";
	color: white;
}

.comment-body .user-input{
	margin-top: 10px;
	width: 920px;
	height: 205px;
	font: 20px "Microsoft YaHei";
	color: black;
}

.user-comment .user-upload{
	display: none;
}

.user-comment .label-upload{
	width: 100px;
	height: 18px;
	display: block;
	background-color: #f00;
	float: left;
	color: white;
}

/*用户评论部分结束*/