/*自定义*/

.focus_on{
    background-color: #32cd32;
    border: 1px solid #000;
    border-radius: 3px;
}

.focus_off{
    background-color: #a9a9a9;
    color: white;
    border: 1px solid #000;
    border-radius: 3px;
}