<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax_test</title>
    <style>
        #errormsg{
            display: none;
            color: red;
            border: 1px solid #000;
            text-align: center;
        }

    </style>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ajaxbtn").click(function(){
                $.ajax({
                    'url':'/ajax_handle',
                    'dataType':'json',
                    // 'async': false  //ajax默认时异步的，设置为false时表示同步
                    'success':function (data) {
                        console.log("type of data="+ typeof data);
                        console.log("data="+data);
                        $("#errormsg").html(data.msg).show()
                    }
                })
            })
        })
    </script>
</head>
<body>
<input type="button" value="ajax" id="ajaxbtn"> <br>
<span id="errormsg"></span>
</body>
</html>