<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>escape_test</title>
</head>
<body>
1.djano模板变量默认自动开启转义,html类型的字符串会原样显示：<br>
django：{{title}} <br><br><br>

2.html文件中的硬编码和django模板硬编码都会被浏览器解析: <br>
html硬编码：<h1>hello django</h1>
django模板硬编码：{{no_title|default:"<h1>hello django</h1>"}}

3.django模板变量可以用safe过滤器来关闭某个模板变量的转义：<br>
django-safe:{{title|safe}} <br>


4.django中也可以用模板标签autoescape来控制标签内的内容是否转义：<br>
django-autoescape标签：<br>

{%autoescape on%}
    {{title}}
{%endautoescape%}


</body>
</html>