<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#vefifycodebtn").click(function () {
            console.log("verifycode-click");
            currentTime = new Date().getTime();
            console.log("currentTime="+currentTime);
           // 每次点击拼接一个当前时间，这样可以避免缓存
           $("#verifycode").attr("src","/verifycode"+currentTime)
        })
    })

    </script>
</head>
<body>
<form action="/check_login" method="post">
用户名：<input type="text" name="username"> <br>
密码:<input type="text" name="password"> <br>
图片验证码：<img src="/verifycode" name="verifycode" id="verifycode" alt=""/> <input type="button" id="vefifycodebtn" value="看不清，换一张" /> <br>
    <input type="submit" value="登录">
</form>
</body>
</html>